@import url('https://fonts.googleapis.com/css2?family= Goldman :wght@400;700 & display=swap');

#novaocorrencia{
    /* color: #ED1D25;
text-align: center;
font-size: 64px;
font-style: normal;
font-weight: 400;
line-height: normal; */
font-family: 'Goldman', cursive;
}